# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Project specific
data/raw/
*.pdf
todolist.txt
notebooks/test_txt/
notebooks/errors.txt
notebooks/test_extract_test.db

# IDE
.vscode/
.idea/

# Environment
.env
